html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151b23;
    color: #bfc7d5;
    padding: 18px 0px;
    padding-bottom: 0px;
    font-family: 'Segoe UI', Arial, sans-serif;
    flex-wrap: wrap;
    margin-top: auto;
}

.footer h5 {
    font-size: 1.7em;
    margin: 0;
}

@media (max-width: 700px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 24px;
    }
}

.footer .footer-social {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.footer .footer-social a {
    color: #bfc7d5;
    transition: color 0.2s;
    margin: 9px;
}

.footer .footer-social a:hover {
    color: #e9e9e9;
}

.footer .footer-social a i {
    font-size: 1.6em;
}

@media (max-width: 700px) {
    .footer .footer-social a {
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .footer .footer-social a i {
        font-size: 1.8em;
    }
}

.footer-title {
    display: flex;
    gap: 150px;
    justify-content: center;
    margin-top: 8px;
    flex-wrap: wrap;
}

.footer-title a {
    color: #bfc7d5;
    text-decoration: none;
    font-size: 1.35em;
    padding: 12px 28px;
    border-radius: 8px;
    transition: background 0.2s, color 0.2s;
}

.footer-title a:hover {
    color: #dedede;
}

@media (max-width: 700px) {
    .footer-title {
        gap: 16px;
        font-size: 1em;
        flex-direction: column;
        align-items: center;
    }

    .footer-title a {
        width: 100%;
        padding: 6px 0;
        font-size: 1.6em;
    }
}

.footer-text {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: #bfc7d5;
    font-size: 0.9em;
}

.footer-text p{
    margin-bottom: 0px;
}