.container{
    margin-top: 10px;
}

.masonry {
    column-gap: 1rem;
    column-count: 1;
}

.masonry-item {
    display: inline-block;
    width: 100%;
    margin: 0 0 1rem;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
}

@media (min-width: 768px) {
    .masonry {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .masonry {
        column-count: 3;
    }
}

.masonry .card {
    margin-bottom: 0px;
}